# Binaries
**/bin/
!vendor/bin/premake/
**/int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Makefiles
/Makefile

# Debug batch scripts
run_debug.bat
run_release.bat